<div class="education section">
  <div class="title">EDUCATIONS</div>

  {% for item in local.educations %}
  <div class="entry">
    <div class="primary">
      {{item.degree}}
    </div>
    <div class="secondary">
      Major - {{item.major}}
    </div>
    <div class="secondary" style="margin-bottom: 5px">
      Minor - {{item.minor}}
    </div>
    <div class="secondary">
      {{item.college}}
    </div>
    <div class="secondary">
      {{item.period}}
    </div>
  </div>
  {% endfor %}
</div>
